body {
  background-color: #202020;
  /* background: #2F3E46; */
  /* background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #1f3a5f 100%); */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: monospace;
  font-size: large;
  color: white;
  padding: 0;
  margin: 0;
  height: 100vh;
}